<head>
     <title>D-ASSIST $ CONVERTER</title>
	<link rel="shortcut icon" href="images/logo.ico"/>
</head>

<div class="container" id="dw-index" ng-cloak>
	<div class="row">
		<div class="row-fluid" style="margin-bottom: 30px; margin-top:70px;" ng-controller="setGoalsDataController" >
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="temp" style="padding-top: 20px;border: 1px solid #d0d0d0;min-height: 300px;background: #fff;position: relative;">
					<h2>Paid user acquisition</h2>
					<div ng-hide="error" id="setGoalsChart" class="clearfix"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="rightSection" style="padding-top: 20px;border: 1px solid #d0d0d0;min-height: 300px;background: #fff;position: relative;">
					<div class="clearfix right">
						<h2>Title</h2>
						<div class="tab_container">
							<section class="tab_content">
								<h2>Showing Data for the {{periodText}} {{periodStart | date:'dd MMM '}} - {{periodTo | date:'dd MMM yyyy'}}</h2>
								 <div class="progress-loading" ng-if="!error && !dataLoaded"></div>
								<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
								<ul ng-hide="error || !dataLoaded">
									<li ng-repeat="item in weeklyListData">{{item.name}}
										<div>{{item.value | number}}</div>
									</li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu_list1"  ng-controller="filterOuterController" ng-if="isSetGoalsEditable">
				<div class="menu_head" style="padding-top:10px">
					<button type="button" class="btn btn-default acc_link" rel="filters">Set Filters</button>
				</div>
				<div class="menu_head">
				<button type="button" class="btn btn-primary" rel="filters"
				 ng-click="showBestDecision('/builddo')" >Show Best {{decisionOptionsText}}</button>
				</div>
				<div class="menu_body acc_container" id="filters">
					<div class="clearfix">
						<span class="Fheading">Filters</span>
						<div class="clearfix"></div>
						<ng-include src="'app/DecisionWorkbench/filter.htm'"></ng-include>
					</div>
				</div>
			</div>
		</div>
		<div ng-hide ng-controller="setDoInit"></div>
</div>
