<head>
     <title>D-ASSIST $ CONVERTER</title>
	<link rel="shortcut icon" href="images/logo.ico"/>
</head>

<div class="container campaign-overview" ng-cloak style="padding-top: 30px;">
     <div class="col-md-8">
<ul style="margin-left:-30px; margin-bottom:10px;" class="breadcrumb">
<li>
<a style="color:#666;" href="home.htm">Home</a>
</li>
<li class="active">Campaign Options</li>
<li class="active">Overview</li>
</ul>
</div>
    <div class="col-md-4-big">
        
        <div id="exportIconsPanel" ng-if="thisPage!='/builddo'" style="background: #ffffff !important;">
    <ul>
						<li title="Print" class="Printicon">&nbsp;</li>
						<li class="iconExport export">
							<ul>
								<li class="top"><a href="#" alt="Export to Pdf"
									title="Export to Pdf" ng-click="pdfExport()">
										<figure>
											<img src="images/icon-pdf.png" />
										</figure>
								</a></li>
								<li><a href="#" alt="Export to Excel"
									title="Export to Excel">
										<figure>
											<img src="images/icon-excel.png" />
										</figure>
								</a></li>
								<li><a href="#" alt="Export to Word" title="Export to Word">
										<figure>
											<img src="images/icon-word.png" />
										</figure>
								</a></li>
							</ul>
						</li>
					</ul>
        
    </div>
    </div>
    <div class="clear"></div>
	<div class="row" ng-controller="overviewController">
        
		<div class="row nopadding" style="border:1px solid #ccc; background:#fff;">
			<div class="collapseDiv">
				<div class="panel-heading">Top Campaign recommendations
					<div class="pull-right xclose expandclose"></div>
				</div>
			</div>
			<div class="collapse in" >
				<table class="table borderless smSubsTable noMarginBtm" my-table  options="options" table-data="rowClicked" wishlist-data="wishlistSelected" execute-data="executeSelected">
					<thead>
				      <tr>
				        <th>Campaign Id</th>
				        <th>User Group</th>
				        <th>Feature promoted</th>
				        <th>Campaign Description</th>
				        <th>Expected Impact</th>
				        <th>Wishlist</th>
				        <th>Execute</th>
				      </tr>
				    </thead>
				</table>
				
                <div class="pull-right" style="margin: 10px 10px 10px 0px;"> <div class="container-button"><a href="#/overview-details?selectedGroup=All Users" class="button-blue">See All</a></div></div>
                
			</div>
		</div>
		
		<div class="row nopadding" style="margin-top: 25px;border:1px solid grey;  background:#fff;">
			<div class="collapseDiv">
				<div class="panel-heading">Top Campaign recommendations by User Groups
					<div class="pull-right xclose"></div>
					<div class="btn-group pull-right" style="margin-top: -6px;margin-right: 30px;">
					    <button class="btn bkgd-white" style="min-width: 200px;text-align: left;color: #555555;">{{userGroupDropdownText}}</button>
					    <button class="btn dropdown-toggle bkgd-white" data-toggle="dropdown">
					    <span class="caret"></span>
					   </button>
					 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="min-width: 224px;">
					   <li><a tabindex="-1" href="#" ng-click="clickUserGroup('Creative Agencies')">Creative Agencies</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickUserGroup('Finance Executives')">Finance Executives</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickUserGroup('Musicians')">Musicians</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickUserGroup('Photographers')">Photographers</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickUserGroup('Project Managers')">Project Managers</a></li>
					 </ul>
					</div>
				</div>
			</div>
			<div class="collapse">
				<table class="table borderless smSubsTable noMarginBtm" my-table  options="userTableOptions" table-data="rowClicked" wishlist-data="wishlistSelected" execute-data="executeSelected">
					<colgroup>
						<col width="10%">
						<col width="20%">
						<col width="10%">
						<col width="20%">
						<col width="20%">
						<col width="10%">
						<col width="10%">
					</colgroup>
					<thead>
				      <tr>
				        <th>Campaign Id</th>
				        <th>User Group</th>
				        <th>Feature promoted</th>
				        <th>Campaign Description</th>
				        <th>Expected Impact</th>
				        <th>Wishlist</th>
				        <th>Execute</th>
				      </tr>
				    </thead>
				</table>
                <div class="pull-right" style="margin: 10px 10px 10px 0px;"> <div class="container-button"><a href="#/overview-details?selectedGroup=All Users" class="button-blue">See All</a></div></div>
			</div>
		</div>
		
		<div class="row nopadding" style="margin-top: 25px;border:1px solid grey;  background:#fff;">
			<div class="collapseDiv">
				<div class="panel-heading">Top Campaign recommendations by Features
					<div class="pull-right xclose"></div>
					<div class="btn-group pull-right" style="margin-top: -6px;margin-right: 30px;">
					    <button class="btn bkgd-white" style="min-width: 200px;text-align: left;color: #555555;">{{featureDropdownText}}</button>
					    <button class="btn dropdown-toggle bkgd-white" data-toggle="dropdown">
					    <span class="caret"></span>
					   </button>
					 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="min-width: 224px;">
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('3rd Party integration API')">3rd Party integration API</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Collaborate')">Collaborate</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('E-Sign')">E-Sign</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Full Text Search')">Full Text Search</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Microsoft 365 integration')">Microsoft 365 integration</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Mobile App')">Mobile App</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Storage Space')">Storage Space</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Version History')">Version History</a></li>
					   <li><a tabindex="-1" href="#" ng-click="clickFeature('Workspace share')">Workspace share</a></li>
					 </ul>
					</div>
				</div>
			</div>
			<div class="collapse" >
				<table class="table borderless smSubsTable noMarginBtm" my-table  options="featuresOptions" table-data="rowClicked" wishlist-data="wishlistSelected" execute-data="executeSelected">
					<colgroup>
						<col width="10%">
						<col width="20%">
						<col width="10%">
						<col width="20%">
						<col width="20%">
						<col width="10%">
						<col width="10%">
					</colgroup>
					<thead>
				      <tr>
				        <th>Campaign Id</th>
				        <th>User Group</th>
				        <th>Feature promoted</th>
				        <th>Campaign Description</th>
				        <th>Expected Impact</th>
				        <th>Wishlist</th>
				        <th>Execute</th>
				      </tr>
				    </thead>
				</table>
				<div class="pull-right" style="margin: 10px 10px 10px 0px;"> <div class="container-button"><a href="#/overview-details?selectedGroup=All Users" class="button-blue">See All</a></div></div>
			</div>
		</div>
		</div>
</div>

<script>
$(document).ready(function(){
	$(".xclose").click(function(){
		window.temp = $(this);
		if(!$(this).hasClass("expandclose")){
			$(".xclose").removeClass("expandclose");
			$(".collapse").removeClass("in");
		}
		$(this).toggleClass("expandclose");
		$(this).parents().closest('.collapseDiv').next().collapse('toggle');
	});
	
	$(".dropdown-menu li a").click(function(){
	      $(this).parents().closest('.btn-group').find(".btn:first-child").text($(this).text());
	      $(this).parents().closest('.btn-group').find(".btn:first-child").val($(this).text());

	   });

});
</script>