<div id="contentContainer">
	<div class="container" id="Decision">
        <div style="margin-top:0px; margin-bottom:5px;" class="col-md-8">
<ul style="margin-left:-30px; margin-bottom:5px;" class="breadcrumb">
<li>
<a style="color:#666;" href="home.htm">Home</a>
</li>
<li>Track</li>
<li class="active">Business Analysis</li>
</ul>
</div>
	<div class="row nopadding" ng-controller="businessImpactMatricesController" ng-if ="isBusinessImpactViewable">
			<div class="row nopadding AcquisitionPanel contentPanel1">
                 <div style="margin-bottom:0px;" class="panel panel-default">
					<div class="panel-heading">Key Business Metrics</div>
				</div>
				
				<a href="javascript:;" class="pull-right filter-option-menu filter-option-menu1"> </a>
				<div class="options-filter options-filter1  width clearfix">
					<img src="images/popmenu-arrow.png" class="popmenu-arrow" />
					<div>
						<div class="popupTitle">
							<label> Select widget</label>
						</div>
						<div class="popupcnt top" ng-repeat="data in userSettings.menus">
								<div class="height">
									<input type="checkbox" ng-model="data.checked" ng-change="menu.onSelect(data)"> 
									<label>{{data.menuItemName}}</label>
								</div>
								
							</div>
					</div>
				</div>
				<p class="widget-title pull-right" style="padding-right:28px; margin-top: 6px;">As of Saturday, September 12, 2015</p> 
				<ul class="row-fluid metric-widgets"
					style="margin:  44px 20px 10px 10px;" data-page="businessImpact">
					<li class="col-md-5ths col-xs-6" ng-repeat="data in businessImpact"
						ng-hide="data.display == false" ng-click="menu.widgetSelected(data)">
						<div class="col-sm-11 col-md-11 metrics-content metrics-content-height"
						 ng-class="{selected: data.subGroupBy==select}">
								<div class="box-content-top">
									<h3 class="text-ellipsis" title="{{data.subgroupName}}">{{data.subgroupName}}</h3>	
									<div class="value-orange trackingLink">{{data.actualToDate}}</div>
									<p
										ng-if="data.subgroupName =='Revenue' || data.subgroupName =='Cost of Acquisition' || data.subgroupName=='ARPU'|| data.subgroupName=='New Revenue'|| data.subgroupName=='Recurring Revenue' && data.subgroupName!='Free To Paid Conversion'"
										class='widget-text'>(in USD)</p>
									<p
										ng-if="data.subgroupName !='Revenue' && data.subgroupName !='Cost of Acquisition' && data.subgroupName!='ARPU' && data.subgroupName!='Free To Paid Conversion' && data.subgroupName!='New Revenue' && data.subgroupName!='Recurring Revenue'"
										class='widget-text'>(Count of users)</p>
									<p
										ng-if="data.subgroupName =='Free To Paid Conversion'"
										class='widget-text'>(in Percentage)</p>
									<p class="value1">
										<span>{{data.forecast.value}}</span>
									</p>
									<p class="duration1">{{forecastText}}</p>
								</div>
								<div class="box-content-bottom">
									<ul>
										<li>
											<div style="margin-left:-10px;" ng-if="data.versusLast.trend=='-ve'">
												<img src="images/arrow-red.png" alt="arrow" style="margin-right:5px;">
												{{data.versusLast.value}} {{vsLastText}}
											</div>
											<div style="margin-left:-10px;" ng-if="data.versusLast.trend!='-ve'">
												<img src="images/arrow-green.png" alt="arrow" style="margin-right:5px;">
												{{data.versusLast.value}} {{vsLastText}}
											</div>											
										</li>
										
										<li>
											<div style="margin-left:-10px;" ng-if="data.versusSameLastYear.trend=='-ve'">
												<img src="images/arrow-red.png" alt="arrow" style="margin-right:5px;">
												{{data.versusSameLastYear.value}} {{vsLastYearText}}
											</div>
											<div style="margin-left:-10px;" ng-if="data.versusSameLastYear.trend!='-ve'">
												<img src="images/arrow-green.png" alt="arrow" style="margin-right:5px;">
												{{data.versusSameLastYear.value}} {{vsLastYearText}}
											</div>											
										</li>
									</ul>
								</div>
						</div>
					</li>
				</ul>
			</div>
			</div>
			<div ng-controller="businessImpactSummaryController" ng-if ="isBusinessImpactViewable">
			<div class="row AcquisitionPanel">
                 <div style="margin-bottom:0px;" class="panel panel-default">
					<div class="panel-heading"> {{heading}} Summary</div>
				</div>
				<ul ng-hide="error" class="row-fluid summary-list clearfix"
				style="margin: 20px 0px 5px 10px;">
                                        <li ng-show="businessImpactSummary.versusLast.value" class="col-md-5ths col-xs-6">
                                            <div class="summarylistInnerwrap">
                                                 <p>
                                                    {{toLastText}}
                                                </p>
                                                <div class="{{businessImpactSummary.versusLast.trend=='-ve'?'summary-value summary-value-down':'summary-value summary-value-up'}}">
                                                    {{businessImpactSummary.versusLast.value}}
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li ng-show="businessImpactSummary.versusSameLastYear.value" class="col-md-5ths col-xs-6">
                                            <div class="summarylistInnerwrap">
                                                <p>
                                                    {{toLastLYText}}
                                                </p>
                                                <div class="{{businessImpactSummary.versusSameLastYear.trend=='-ve'?'summary-value summary-value-down':'summary-value summary-value-up'}}">
                                                    {{businessImpactSummary.versusSameLastYear.value}}
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li ng-show="businessImpactSummary.actualToDate" class="col-md-5ths col-xs-6">
                                            <div class="summarylistInnerwrap ">
                                                  <p>
                                                     {{businessImpactSummary.subgroupName}}
                                                </p>
                                                <div class="summary-value">
                                                   {{businessImpactSummary.actualToDate}}
                                                </div>
                                              
                                            </div>
                                        </li>
                                        <li ng-show="businessImpactSummary.diffFromTarget.value" class="col-md-5ths col-xs-6">
                                            <div class="summarylistInnerwrap">
                                                <p>
                                                    Difference from Target
                                                </p>
                                                <div class="{{businessImpactSummary.diffFromTarget.trend=='-ve'?'summary-value summary-value-down':'summary-value summary-value-up'}}">
                                                   {{businessImpactSummary.diffFromTarget.value}}
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li ng-show="businessImpactSummary.forecast.value" class="col-md-5ths col-xs-6">
                                            <div class="summarylistInnerwrap">
                                                 <p>
                                                    {{forecastText}}
                                                </p>
                                                <div class="{{businessImpactSummary.forecast.trend=='-ve'?'summary-value summary-value-down':'summary-value summary-value-up'}}">
                                                     {{businessImpactSummary.forecast.value}}
                                                </div>
                                               
                                            </div>
                                        </li>
                                    </ul>
				
			</div>
			</div>


		<div class="row acquisition-panel"
			ng-controller="businessImpactTrendController"
			ng-if="isBusinessImpactViewable">
			<div style="margin-bottom: 15px;" class="panel panel-default">
				<div class="panel-heading">{{heading}} Trend</div>
			</div>

			<div class="row-fluid" style="padding: 0px 11px;">
				<div class="pull-right chart-textNote" style="">Current period
					from {{trendPeriod}}, 2015</div>
			</div>
			<div class="row" style="margin-top: 30px; margin-bottom: 10px">
				<div ng-hide="error" class="DivAcquisitionChart" id="subsTrendChart"></div>
			</div>
		</div>


<!----------------------------------------------->
<div id="boxes">
	<div id="tableZoom" class="window">
		<div class="modalheading">
			<h2 id="h2">table</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent"></div>
	</div>
</div>
<div id="mask"></div>
<div ng-hide ng-controller="businessImpactInitController"></div>