<div id="contentContainer">
	<div class="container" id="Decision">
        <div style="margin-top:0px; margin-bottom:5px;" class="col-md-8">
<ul style="margin-left:-30px; margin-bottom:5px;" class="breadcrumb">
<li>
<a style="color:#666;" href="home.htm">Home</a>
</li>
<li>Track</li>
<li class="active">Engagement Activity</li>
</ul>
</div>
		<div class="row nopadding clearfix engagementScorePanel" ng-controller="engagementScoreController">
		<div style="margin-bottom:0px;" class="panel panel-default">
					<div class="panel-heading">Engagement Score</div>
				</div>
			<div class="col-sm-3 col-md-3" ng-hide="error || !dataLoaded"
			style="border-right: 1px solid #cccccc;">
					<div class="engagement-score">
						<br /> <br />
						<div id="engagementScore" class="engagement-score-value">
							{{engagementScore.data.value}}</div>
						<br />
						<p>Engagement Score</p>
					</div>
				</div>
				<div class="col-sm-9 col-md-9" ng-hide="error || !dataLoaded">
					<div id="scoreChart" class="AcquisitionChart"></div>
				</div>
		</div>
			<div class="row AcquisitionPanel AcquisitionPanel1 contentPanel1" ng-controller="engagementActivityMatricesController" ng-if="isEngagementMetricsViewable">
                <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">Key Engagement Activity Matrices</div>
				</div>
				
				<a href="javascript:;" class="pull-right filter-option-menu filter-option-menu1"> </a>
				<div class="options-filter width clearfix" style="display: block; margin-top:-35px;">
						<img src="images/popmenu-arrow.png" class="popmenu-arrow">
						<div>
							<div class="popupTitle">
								<label> Select widget</label>
							</div>
							<div class="popupcnt">
								<input type="checkbox" checked="true" disabled="true" /><label>Engagement
									Score </label>
							</div>
							<div class="popupcnt top" ng-repeat="data in userSettings.menus">
								<div class="height">
									<input type="checkbox" ng-model="data.checked"
										ng-change="menu.onSelect(data)"
										ng-checked="data.checked == true"> <label>{{data.menuItemName}}</label>
								</div>

							</div>
						</div>
					</div>
					
					<ul class="row-fluid metric-widgets"
					style="margin: 50px 10px 0px 10px" data-page="engagementActivity">

					<li class="col-md-5ths col-xs-6"
						ng-repeat="data in engagementActivity"
						ng-hide="data.display == false" ng-if="menuSynced" ng-click="menu.widgetSelected(data)">
						<div class="col-sm-11 col-md-11 metrics-content"
						 ng-class="{selected: data.subGroupBy==select}">
								<div class="box-content-top">
									<h3 class="text-ellipsis" title="{{data.subgroupName}}">{{data.subgroupName}}</h3>
									<div class="value-orange">{{data.actualToDate| number}}</div>
                                    <p ng-if="data.subgroupName=='Engagement Score'" class='widget-text'>(in
										Percentage)</p>
									<p ng-if="data.subgroupName!='Engagement Score'" class='widget-text'>(Count
										of users)</p>
                                     <p class="value1"><span class="ng-binding">{{data.monthlyAvg| number}}</span>
</p>
									<p class="duration">{{averageTimePeriodText}}</p>
                                   
								</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="row AcquisitionPanel"
				ng-controller="engagementActivitySummaryController"
				ng-if="isEngagementMetricsViewable">
				<div style="margin-bottom: 15px;" class="panel panel-default">
					<div class="panel-heading">{{heading}} Summary</div>
				</div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<ul ng-hide="error" class="row-fluid summary-list clearfix" style="margin: 20px 0px 5px 10px;">
					<li ng-show="engagementActivitySummary.versusLast.value" class="col-md-5ths col-xs-6">
						<div class="summarylistInnerwrap">
							<p>{{toLastText}}</p>
							<div
								class="{{engagementActivitySummary.versusLast.trend=='-ve'?'summary-value summary-value-down':'summary-value summary-value-up'}}">
								{{engagementActivitySummary.versusLast.value| number}}</div>

						</div>
					</li>
					<li ng-show="engagementActivitySummary.versusSameLastYear.value" class="col-md-5ths col-xs-6">
						<div class="summarylistInnerwrap">
							<p>{{toLastLYText}}</p>
							<div
								class="{{engagementActivitySummary.versusSameLastYear.trend=='-ve'?'summary-value summary-value-down':'summary-value summary-value-up'}}">
								{{engagementActivitySummary.versusSameLastYear.value| number}}</div>

						</div>
					</li>
					<li ng-show="engagementActivitySummary.Numberofactivities.value" class="col-md-5ths col-xs-6">
						<div class="summarylistInnerwrap">
							<p>Count of {{heading}}</p>
							<div class="summary-value"
								ng-if="engagementActivitySummary.Numberofactivities.value=='NA'">
								{{engagementActivitySummary.Numberofactivities.value}}</div>
							<div class="summary-value"
								ng-if="engagementActivitySummary.Numberofactivities.value!='NA'">
								{{engagementActivitySummary.Numberofactivities.value | number}}
							</div>
						</div>
					</li>
					<li ng-show="engagementActivitySummary.Percentageactiveusers.value" class="col-md-5ths col-xs-6">
						<div class="summarylistInnerwrap">
							<p>% Penetration in active users</p>
							<div
								ng-class="{'summary-value':true,'summary-value-down':engagementActivitySummary.Percentageactiveusers.trend=='-ve', 'summary-value-up':engagementActivitySummary.Percentageactiveusers.trend=='+ve'}">
								{{engagementActivitySummary.Percentageactiveusers.value}}</div>
						</div>
					</li>
					<li ng-show="engagementActivitySummary.AvgCountperuser.value" class="col-md-5ths col-xs-6">
						<div class="summarylistInnerwrap last">
							<p>Avg. count of activity per user</p>
							<div
								ng-class="{'summary-value':true,'summary-value-down':engagementActivitySummary.AvgCountperuser.trend=='-ve', 'summary-value-up':engagementActivitySummary.AvgCountperuser.trend=='+ve'}">
								{{engagementActivitySummary.AvgCountperuser.value}}</div>
						</div>
					</li>
				</ul>

			</div>
			<div class="row AcquisitionPanel" ng-controller="engagementActivityTrendController" ng-if="isEngagementMetricsViewable">
                <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">{{heading}} Trend</div>
				</div>
				<div class="row-fluid" style="padding: 0px 11px;">
				<div class="pull-right chart-textNote" style="">Current period
					from {{trendPeriod}}, 2015</div>
			</div>
			<div class="row" style="margin-top: 30px; margin-bottom: 10px">
				<div ng-hide="error" class="DivAcquisitionChart" id="trendChart"></div>
			</div>
			</div>
</div>
</div>

<!----------------------------------------------->
<div id="boxes">
	<div id="tableZoom" class="window">
		<div class="modalheading">
			<h2 id="h2">Table</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent"></div>
	</div>
</div>
<div id="mask"></div>
<div ng-hide ng-controller="engagementActivityInitController"></div>