<!DOCTYPE html>
<html lang="en" ng-app="Home">
<head>
<title>NAVIK CONVERTER</title>
<link rel="shortcut icon" href="images/logo.ico"/>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
</script>
-->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js">
</script>
-->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js">
</script>
-->
<!--
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet'
type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet'
type='text/css'>
-->

<!-- Plugin Styles -->
<link href="css/plugins/reset.css" rel="Stylesheet" type="text/css" />
<link href="css/plugins/font-awesome.css" rel="stylesheet"
	type="text/css" />
<link href="css/plugins/jquery-ui.css" rel="stylesheet">
<link href="css/plugins/jquery.mCustomScrollbar.css" rel="stylesheet">
<link href="css/plugins/jquery.dataTables.css" rel="Stylesheet" type="text/css" />
<link href="css/plugins/jquery.treetable.css" rel="stylesheet" type="text/css" />
<link href="css/plugins/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
<link href="css/plugins/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- Bootflat css start include -->
<link rel="stylesheet" href="bootflat/css/site.min.css">
<!-- Custom Styles -->
<link href="css/Style.css" rel="Stylesheet" type="text/css" />
<link href="css/New.css" rel="Stylesheet" type="text/css" />
<link href="css/device.css" rel="Stylesheet" type="text/css" />
<link href="css/Charts.css" rel="Stylesheet" type="text/css" />


<!-- Framework related JS -->
<!-- <script src="js/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script> -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/lib/jquery/jquery-ui.js"></script>
<script src="js/lib/angular/angular.js" type="text/javascript"></script>
<script src="js/lib/angular/angular-route.js" type="text/javascript"></script>
<script src="js/lib/angular/angular-cache.js" type="text/javascript"></script>
<script src="js/lib/angular/angular-treetable.js" type="text/javascript"></script>
<script src="js/lib/angular/angular-animate.min.js" type="text/javascript"></script>
<script src="js/lib/bootstrap.min.js" type="text/javascript"></script>

</head>
<body ng-controller="mainAppContent">
<div class="transparentMask"></div>

        <div id="contentarea">
            
        		<div class="breadcrumbTrackContainer time-nav" ng-controller = "commonController">
				<div id="timePeriodTabs">
					<ul>
						<li ng-class="{'active': selectedIndex[0].selected}"><a class="" href="#"
							ng-click="broadcastPeriodChange('weekly',0)">Weekly</a></li>
						<li ng-class="{'active': selectedIndex[1].selected}"><a class="" href="#"
							ng-click="broadcastPeriodChange('monthly',1)">Monthly</a></li>
						<li ng-class="{'active': selectedIndex[2].selected}"><a class="" href="#"
							ng-click="broadcastPeriodChange('quarterly',2)">Quarterly</a></li>
						<li ng-class="{'active': selectedIndex[3].selected}"><a class="" href="#"
							ng-click="broadcastPeriodChange('yearly',3)">Yearly</a></li>
					</ul>
				</div>
				<div id="exportIconsPanel" style="background: #ffffff !important;">
					<ul>
						<li title="Print" class="Printicon">&nbsp;</li>
						<li class="iconExport export">
							<ul>
								<li class="top"><a href="#" alt="Export to Pdf"
									title="Export to Pdf" ng-click="pdfExport()">
										<figure>
											<img src="images/icon-pdf.png" />
										</figure>
								</a></li>
								<li><a href="#" alt="Export to Excel" title="Export to Excel">
										<figure>
											<img src="images/icon-excel.png" />
										</figure>
								</a></li>
								<li><a href="#" alt="Export to Word" title="Export to Word">
										<figure>
											<img src="images/icon-word.png" />
										</figure>
								</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
        </div>
	<ng-include src="'partials/navigation-header.htm'"></ng-include>
<div class="container" id="track-summary" ng-cloak>
    
 
	<div class="row acquisition-panel"
		ng-controller="acquisitionFunnelController">
        <div style="margin-bottom:0px;" class="panel panel-default">
					<div class="panel-heading">Funnel</div>
				</div>
		
		<div class="row-fluid col-sm-12" style="margin: 20px 0px; float: left;">
			<div class="col-sm-6" style="padding-right:0px;">
				<div class="col-sm-6 ">
					<div class="customDiv bkgd-darkblue" ng-click="acqFunnelWidget('Visitors')"
					 ng-class="{'active': acqFunnelWidgets[0].selected}">
						<div class="">
							<div class="panel-heading text-center">Visitors</div>
						</div>
						<div class="widget-content">
							<div class="row-fluid">
								<div>
									<span class="funnel-font-size" ng-bind="visitors.actualTillDate |number"></span>
								</div>
							</div>
                            <div class="rateValue">Unique Visitors: 70%</div>
							
							<div id="sparkleLineVisitor"></div>
							<div class="chart"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 ">
					<div class="customDiv bkgd-blue" ng-click="acqFunnelWidget('Registrations')"
					 ng-class="{'active': acqFunnelWidgets[1].selected}">
						<div class="">
							<div class="panel-heading text-center">Registrations</div>
						</div>
						<div class="widget-content">
							<div class="row-fluid">
								<div>
									<span class="funnel-font-size" ng-bind="registrations.actualTillDate |number"></span>
								</div>
							</div>
							<div class="rateValue">Acquisition Rate:
							<span ng-bind="registrations.acquisitionRate"></span>%</div>
							<div id="sparkleLineVisitor"></div>
							<div class="chart"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6" style="padding-left:0px;">
				<div class="col-sm-6">
					<div class="customDiv bkgd-darkblue" ng-click="acqFunnelWidget('Subscriptions')"
					 ng-class="{'active': acqFunnelWidgets[2].selected}">
						<div class="">
							<div class="panel-heading text-center">Subscriptions</div>
						</div>
						<div class="widget-content">
							<div class="row-fluid">
								<div>
									<span class="funnel-font-size" ng-bind="subscriptions.actualTillDate |number"></span>
								</div>
							</div>
							<div class="rateValue">Conversion Rate:
							<span ng-bind="subscriptions.conversionRate"></span>%</div>
							<div id="sparkleLineVisitor"></div>
							<div class="chart"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="customDiv bkgd-blue" ng-click="acqFunnelWidget('Cancellations')"
					 ng-class="{'active': acqFunnelWidgets[3].selected}">
						<div class="">
							<div class="panel-heading text-center">Cancellations</div>
						</div>
						<div class="widget-content">
							<div class="row-fluid">
								<div>
									<span class="funnel-font-size"  ng-bind="cancellations.actualTillDate |number"></span>
								</div>
							</div>
							<div class="rateValue">Churn Rate:
							<span ng-bind="cancellations.churnRate"></span>%</div>
							<div id="sparkleLineVisitor"></div>
							<div class="chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row acquisition-panel"
		ng-controller="acquisitionTrendController">
         <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">Trend</div>
				</div>
		
		<div class="row-fluid" style="padding: 0px 11px;">
			<div class="pull-right chart-textNote" style="">Current period
				from <span ng-bind="trendPeriod"></span>, 2015</div>
			<h2 class="block-chartTitle">
			<span ng-bind="acqTrendTitle"></span></h2>
		</div>
		<div class="row" style="margin-top: 30px; margin-bottom: 10px">
			<div ng-hide="error" class="DivAcquisitionChart"
				id="acquisitionTrendChart"></div>
		</div>
	</div>


	<div class="row acquisition-panel">
           <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">Metrics</div>
				</div>
		
		 <div class="row nopadding"
			ng-controller="businessImpactMatricesController">
			<div class="contentPanel nopadding">
				<div ng-if="isBusinessImpactViewable">
					<div class="row-fluid"
						style="padding: 0px 11px; text-align: center;">
						<div class="chart-textNote">{{title}}</div>
						<div style=" margin-right: 40px;
    margin-top: -15px;" class="chart-textNote pull-right">As of Saturday,
							Sept 12, 2015 </div>
					<!--	<p class="widget-title pull-right">As of {{currentDate |
							date:'EEEE'}}, {{currentDate | date:'dd MMM yyyy'}}</p>-->
					</div>
					<h2 style="margin: -15px 20px 25px;" class="block-title">Business Impact</h2>
					<a style="margin-top:-48px !important;" href="javascript:;" class="pull-right filter-option-menu"> </a>
					<div class="options-filter width clearfix" style="display: block; margin-top:-35px;">
						<img src="images/popmenu-arrow.png" class="popmenu-arrow">
						<div>
							<div class="popupTitle">
								<label> Select widget</label>
							</div>
							<div class="popupcnt top" ng-repeat="data in userSettings.menus">
								<div class="height">
									<input type="checkbox" ng-model="data.checked"
										ng-change="menu.onSelect(data)"
										ng-checked="data.checked == true"> <label>{{data.menuItemName}}</label>
								</div>

							</div>
						</div>
					</div>
				</div>
				<ul class="row-fluid metric-widgets"
					style="margin:  10px 20px 10px 10px;" data-page="businessImpact">
					<li class="col-md-5ths col-xs-6" ng-repeat="data in businessImpact"
						ng-hide="data.display == false">
						<div class="col-sm-11 col-md-11 metrics-content metrics-content-height">
							<a href="{{trackingHtmlName}}.htm#/business-impact?currentlySelected={{data.subGroupBy}}&&name={{data.subgroupName}}">
								<div class="box-content-top">
									<h3 class="text-ellipsis" title="{{data.subgroupName}}">{{data.subgroupName}}</h3>	
									<div class="value-orange trackingLink">{{data.actualToDate}}</div>
									<p
										ng-if="data.subgroupName =='Revenue' || data.subgroupName =='Cost of Acquisition' || data.subgroupName=='ARPU'|| data.subgroupName=='New Revenue'|| data.subgroupName=='Recurring Revenue' && data.subgroupName!='Free To Paid Conversion'"
										class='widget-text'>(in USD)</p>
									<p
										ng-if="data.subgroupName !='Revenue' && data.subgroupName !='Cost of Acquisition' && data.subgroupName!='ARPU' && data.subgroupName!='Free To Paid Conversion' && data.subgroupName!='New Revenue' && data.subgroupName!='Recurring Revenue'"
										class='widget-text'>(Count of users)</p>
									<p
										ng-if="data.subgroupName =='Free To Paid Conversion'"
										class='widget-text'>(in Percentage)</p>
									<p class="value1">
										<span>{{data.forecast.value}}</span>
									</p>
									<p class="duration1">{{forecastText}}</p>
								</div>
								<div class="box-content-bottom">
									<ul>
										<li>
											<div style="margin-left:-10px;" ng-if="data.versusLast.trend=='-ve'">
												<img src="images/arrow-red.png" alt="arrow" style="margin-right:5px;">
												{{data.versusLast.value}} {{vsLastText}}
											</div>
											<div style="margin-left:-10px;" ng-if="data.versusLast.trend!='-ve'">
												<img src="images/arrow-green.png" alt="arrow" style="margin-right:5px;">
												{{data.versusLast.value}} {{vsLastText}}
											</div>											
										</li>
										
										<li>
											<div style="margin-left:-10px;" ng-if="data.versusSameLastYear.trend=='-ve'">
												<img src="images/arrow-red.png" alt="arrow" style="margin-right:5px;">
												{{data.versusSameLastYear.value}} {{vsLastYearText}}
											</div>
											<div style="margin-left:-10px;" ng-if="data.versusSameLastYear.trend!='-ve'">
												<img src="images/arrow-green.png" alt="arrow" style="margin-right:5px;">
												{{data.versusSameLastYear.value}} {{vsLastYearText}}
											</div>											
										</li>
									</ul>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row nopadding"
			ng-controller="engagementActivityMatricesController">
			<div class="contentPanel nopadding">
				<div ng-if="isEngagementMetricsViewable">
					<h2 style="margin: 0px 20px 25px;"  class="block-title">Engagement Metrics</h2>
					<a style="margin-top:-48px !important;"  href="javascript:;" class="pull-right filter-option-menu"> </a>
					<div class="options-filter width clearfix" style="display: block; margin-top:-35px;">
						<img src="images/popmenu-arrow.png" class="popmenu-arrow">
						<div>
							<div class="popupTitle">
								<label> Select widget</label>
							</div>
							<div class="popupcnt">
								<input type="checkbox" checked="true" disabled="true" /><label>Engagement
									Score </label>
							</div>
							<div class="popupcnt top" ng-repeat="data in userSettings.menus">
								<div class="height">
									<input type="checkbox" ng-model="data.checked"
										ng-change="menu.onSelect(data)"
										ng-checked="data.checked == true"> <label>{{data.menuItemName}}</label>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<ul class="row-fluid metric-widgets"
					style="margin: 10px 10px 0px 10px" data-page="engagementActivity">

					<li class="col-md-5ths col-xs-6"
						ng-repeat="data in engagementActivity"
						ng-hide="data.display == false">
						<div class="col-sm-11 col-md-11 metrics-content">
							<a
								href="{{trackingHtmlName}}.htm#/engagement-activity?currentlySelected={{data.subGroupBy}}&&name={{data.subgroupName}}">
								<div class="box-content-top">
									<h3 class="text-ellipsis" title="{{data.subgroupName}}">{{data.subgroupName}}</h3>
									<div class="value-orange">{{data.actualToDate| number}}</div>
                                    <p ng-if="data.subgroupName=='Engagement Score'" class='widget-text'>(in
										Percentage)</p>
									<p ng-if="data.subgroupName!='Engagement Score'" class='widget-text'>(Count
										of users)</p>
                                     <p class="value1"><span class="ng-binding">{{data.monthlyAvg| number}}</span>
</p>
									<p class="duration">{{averageTimePeriodText}}</p>
                                   
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row nopadding"
			ng-controller="overallUserGroupSummaryController">
			<div class="contentPanel nopadding">
				<div ng-if="isUserGroupViewable">
					<h2 style="margin: 0px 20px 25px;" class="block-title">User Group</h2>
					<a style="margin-top:-48px !important;" href="javascript:;" class="pull-right filter-option-menu"> </a>
					<div class="options-filter options-filter1  width clearfix">
						<img src="images/popmenu-arrow.png" class="popmenu-arrow" />
						<div>
							<div class="popupTitle">
								<label> Select User Group</label>
							</div>
							<div class="popupcnt top" ng-repeat="data in userSettings.menus">
								<div class="height">
									<input type="checkbox" ng-model="data.checked"
										ng-change="menu.onSelect(data)" /> <label>{{data.menuItemName}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<ul class="row-fluid metric-widgets"
					style="margin: 10px 10px 0px 10px" data-page="userGroup">

					<li class="col-md-5ths col-xs-6" ng-repeat="data in userGroup"
						ng-hide="data.display == false">
						<div class="col-sm-11 col-md-11 metrics-content">
							<div class="box-content-top">
								<a
									href="{{trackingHtmlName}}.htm#/user-group-engagement?currentlySelected={{data.groupBy}}&&name={{data.groupName}}">
									<h3 class="text-ellipsis" title="{{data.groupName}}">{{data.groupName}}</h3>									
									<div class="value-green trackingLink">
										{{data.actual| number}}</div>
                                    <p class='widget-text'>(Count of users)</p>
                                    <p class="value1"><span class="ng-binding">{{data.periodAvg| number}}</span></p>
									<p class="duration">{{averageTimePeriodText}}</p>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!----------------------------------------------->
<div ng-hide ng-controller="trackingInitController"></div>
	<footer id="footerContainer">
		<section class="footerInsidePannel">&copy; 2014 Absolutdata.
			All rights reserved.</section>
	</footer>


	<!-- Property files -->
	<script src="js/system.js" type="text/javascript"></script>
	<script src="js/config.js" type="text/javascript"></script>

	<!-- jQuery Plugins -->
	<script src="js/lib/jquery/plugins/jquery.dataTables.min.js"
		type="text/javascript"></script>
	<script src="js/lib/jquery/plugins/jquery.mCustomScrollbar.js"></script>
	<script src="js/lib/jquery/plugins/jquery.circles.js"></script>
	<script src="js/lib/jquery/plugins/Jscript-tooltip.js"
		type="text/javascript"></script>
	<script src="js/lib/jquery/plugins/moment.js" type="text/javascript"></script>
	<script src="js/lib/jquery/plugins/jquery.treetable.js"
		type="text/javascript"></script>
	<!-- Charting Files -->
	<script src="js/lib/chart/highcharts.js" type="text/javascript"></script>
	<script src="js/lib/chart/highcharts-ng.js" type="text/javascript"></script>
	<script src="js/lib/chart/highcharts-more.js" type="text/javascript"></script>
	<script src="js/lib/chart/solid-gauge.js" type="text/javascript"></script>
	<script src="js/lib/chart/highcharts-theme.js" type="text/javascript"></script>
	<script src="js/lib/chart/d3.v3.min.js" type="text/javascript"></script>

	<!-- Angular App -->
	<script src="app/app.js"></script>

	<!-- Angular Services -->
	<script src="app/Common/services/custom.js"></script>
	<script src="app/Common/services/utilities.js"></script>
	<script src="app/Common/services/network.js"></script>
	<script src="app/Common/services/storage.js"></script>
	<script src="app/Common/services/menu.js"></script>
	<script src="app/Common/services/constants.js"></script>
	<script src="app/Common/services/permission.js"></script>
	<script src="app/Common/services/charts.js"></script>

	<!-- Angular Directives -->
	<script src="app/Common/directives/datepicker-ng.js"></script>
	<script src="app/Common/directives/slider-ng.js"></script>
	<script src="app/Common/directives/dataTable-ng.js"></script>
	<script src="app/Common/directives/elements.js"></script>

	<!-- Angular Filters -->
	<script src="app/Common/filters/numeric.js"></script>

	<!-- Common Controllers -->
	<script src="app/Common/controllers/common.js"></script>

	<!-- Home Controllers -->
	<script src="app/Home/controllers/homepage.js"></script>
	<script src="app/Home/controllers/home-summary.js"></script>
	

	<!-- Home Services -->
	<script src="app/Home/services/data.js"></script>
	<script src="app/Home/services/chartoptions.js"></script>
	<script src="app/Home/services/converter.js"></script>
</body>
</html>
